body{
    margin: 2.25%;
    background-image: url(https://img.freepik.com/free-vector/green-sand-paper_53876-86281.jpg?w=2000);
    background-size: cover;
}
marquee{
    background-color: #ccc;
}
div{
    margin-top: 5%;;
}
table {
    border-spacing: 50px;
}
td{
    height: 400px;
    width: 400px;
    background-image: url(images.jpg);
    background-size: cover;
    border-radius: 10%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
a{
    font-size: larger;
    text-decoration: none;
    color: black;

}
a:hover{
    font-size: 30px;
}
td:hover{
    box-shadow: 5px 10px #888888;
}